<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net35" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net35" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net35" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net35" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net35" />
</packages>